* {margin: 0; padding: 0; text-decoration: none;}


.c{
    width: 100%; height: 7017px;
    
}

.wrap1{
    width: 100%; height: 1190px;
    position: absolute;
    display: block;
}

.opa1{
    width: 100%; height: 789px; background-color: #000;
    opacity: 0.25;
}

.p1{
    width: 100%; height: 789px;
    position: inherit;
    top: 0;
}

.main{
    width: 1100px; height: 100%;
    position: inherit;
    top: 0;
    left: 18%;
}

.title{
    width: 719px; height: 186px;
    position: inherit;
    top: 174px;
}

.m1{
    width: 1055px; height: 791px;
    position: inherit;
    bottom: 80px;
    right: -239px;
}








.wrap2{
    width: 100%; height: 800px;
    position: absolute;
    display: block;
    top: 1190px;
}

.slogan{
    
}

.p2{
    width: 100%; height: 800px;
    position: absolute;
}


.opa2{
    width: 100%; height: 800px; background-color: #000;
    opacity: 0.25;
    position: absolute;
}

.stamp{
    width: 204px; height: 204px;
    position: absolute;
    bottom: 40px;
    right: 410px;
}

.sen{
    position: absolute;
    
    font-style: Noto Sans KR;
    font-weight: Regular;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: 0em;

    bottom: 45px;
    left: 410px;
}

.s1{
    position: absolute;
    top: 106px;
    left: 410px;
}

.s2{
    position: absolute;
    top: 281px;
    left: 410px;
}

.s3{
    position: absolute;
    top: 453px;
    left: 410px;
}








.wrap3{
    width: 100%; height: 1414px;
    position: absolute;
    top: 1990px;
}

.p3{
    width: 100%;
    height: 1414px;
}

.con1{
    position: inherit;
    top: 0;
    margin-left: 18%;
    width: 1100px;
    height: 100%;
}

.con1_title{
    margin-left: 351px; 
    margin-top: 209px;
    width: 398px; 
    height: 108px;
}

.scr1{
    margin-top: 63px;

    text-align: center;
    
    font-style: Noto Sans KR;
    font-weight: Regular;
    font-size: 21px;
    color: #000000;
    letter-spacing: 0em;
    line-height: 1.7142857142857142;
}






.wrap4{
    width: 100%; height: 1300px;
    position: absolute;
    top: 3403px;
}

.con2{
    position: inherit;
    top: 0;
    margin-left: 18%;
    width: 1100px;
    height: 100%;
}

.con2_title{
    margin-left: 351px; 
    margin-top: 209px;
    width: 398px; 
    height: 133px;
}


.scr2{
    margin-top: 63px;

    text-align: center;


    font-style: Noto Sans KR;
    font-weight: Regular;
    font-size: 21px;
    color: #000000;
    letter-spacing: 0em;
    line-height: 1.7142857142857142;
}

.con2_{
    position: absolute;
    top: 623px;
    margin-left: 18%;
    width: 1100px;
    height: 678px;
}

.m2{
    width: 712px; height: 534px;
}

.typo{
    position: absolute;
    bottom: 208px;
    right: 71px;
    width: 479px;
    height: 186px;
}










.wrap5{
    width: 100%; height: 1213px;
    position: absolute;
    top: 4705px;
}

.p4{
    width: 100%;
    height: 1213px;
}

.opa3{
    width: 100%; height: 1213px; background-color: #000;
    opacity: 0.25;
    position: absolute;
    top: 0;
}

.con3{
    position: inherit;
    top: 0;
    margin-left: 18%;
    width: 1100px;
    height: 753px;
}

.con3_title{
    margin-top: 209px;
    width: 273px; 
    height: 105px;
}

.scr3{
    margin-top: 76px;
    
    font-style: Noto Sans KR;
    font-weight: Regular;
    font-size: 28px;
    color: #ffffff;
    letter-spacing: 0em;
    line-height: 1.7142857142857142;

}

.con3_{
    position: inherit;
    top: 753px;
    margin-left: 18%;
    width: 1100px;
    height: 460px;
    display: flex;
}

.cbox1{
    width: 500px;
    height: 316px;
    background-color: #fff;
    margin-right: 100px;
    box-shadow: 5px 5px 16px #6c6c6c;
}

.cb1{
    margin-top: 28px;
    margin-left: 30px;

    font-style: S-Core Dream;
    font-weight: 600;
    font-size: 39px;
    color: #454545;
    letter-spacing: 0em;
    line-height: 1.5384615384615385;
}

.cb2{
    margin-top: 65px;
    margin-left: 30px;

    font-style: Noto Sans KR;
    font-weight: 500;
    font-size: 28px;
    color: #454545;
    letter-spacing: 0em;
    line-height: 1.7142857142857142;
}

.cbox2{
    width: 500px;
    height: 316px;
    background-color: #869f54;
    box-shadow: 5px 5px 16px #6c6c6c;
}


.cb3{
    margin-top: 28px;
    margin-left: 30px;

    font-style: S-Core Dream;
    font-weight: 600;
    font-size: 39px;
    color: #ffffff;
    letter-spacing: 0em;
    line-height: 1.5384615384615385;
}

.cb4{
    margin-top: 65px;
    margin-left: 30px;

    font-style: Noto Sans KR;
    font-weight: 500;
    font-size: 28px;
    color: #ffffff;
    letter-spacing: 0em;
    line-height: 1.7142857142857142;

}







.wrap6{
    width: 100%;
    height: 948px;
    position: absolute;
    top: 5918px;
}

.con4{
    width: 1100px;
    height: 100%;
    position: inherit;
    top: 0;
    margin-left: 18%;
}

.m3{
    margin-top: 55px;
}








.wrap7{
    width: 100%;
    height: 151px;
    background-color: #869f54;
    position: absolute;
    top: 6866px;
}

.footer{
    width: 1100px;
    height: 100%;
    position: absolute;
    top: 0;
    margin-left: 18%;
}

.fmain{
    width: 339px;
    height: 88px;
    position: inherit;
    top: 31px;
}

.last{
    position: inherit;
    top: 67px;
    right: 0;
    text-align: right;

    font-style: Noto Sans KR;
    font-weight: Regular;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0em;
    line-height: 1.75;
}



